.git
.idea
.codex
.agents
.env
.env.*
**/.gradle
**/.kotlin
**/build
**/node_modules
frontend-kt
playground
openspec
docs
js/apps
js/services/documentation-generator
js/services/generator
js/services/publisher
