version: '3.8'

services:
  # Backend API
  db-service:
    build:
      context: ./services/db-service
      dockerfile: Dockerfile
    container_name: db-service
    restart: unless-stopped
    environment:
      NODE_ENV: development
    ports:
      - "3001:3001"
    networks:
      - ds-builder-network

  # Frontend Application / Admin Panel
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:5173"
    networks:
      - ds-builder-network

  # Client Application
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    restart: unless-stopped
    ports:
      - "3002:4173"
    networks:
      - ds-builder-network

  # Client Proxy Service
  client-proxy:
    build:
      context: ./services/client-proxy
      dockerfile: Dockerfile
    container_name: client-proxy
    restart: unless-stopped
    environment:
      NODE_ENV: development
      BACKEND_URL: ${BACKEND_URL}
    ports:
      - "3003:3003"
    depends_on:
      - db-service
    networks:
      - ds-builder-network
    volumes:
      - ./client-proxy/storage:/app/storage

  # Generator web library
  generator:
    build:
      context: ./services/ds-generator
      dockerfile: Dockerfile
    container_name: generator
    restart: unless-stopped
    environment:
      NODE_ENV: development
      CLIENT_PROXY_URL: ${CLIENT_PROXY_URL}
      PUBLISHER_URL: ${PUBLISHER_URL}
    ports:
      - "3005:3005"
    networks:
      - ds-builder-network

  # Publisher service
  publisher:
    build:
      context: ./services/publisher
      dockerfile: Dockerfile
    container_name: publisher
    restart: unless-stopped
    environment:
      NODE_ENV: development
      PORT: 3007
    ports:
      - "3007:3007"
    networks:
      - ds-builder-network

  # Documentation Generator Service
  docs-generator:
    build:
      context: ./services/ds-documentation-generator
      dockerfile: Dockerfile
    container_name: docs-generator
    restart: unless-stopped
    environment:
      NODE_ENV: development
      PORT: 3006
      CLIENT_PROXY_URL: ${CLIENT_PROXY_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_ENDPOINT: ${AWS_ENDPOINT}
      AWS_REGION: ${AWS_REGION}
      AWS_S3_BUCKET: ${AWS_S3_BUCKET}
    ports:
      - "3006:3006"
    networks:
      - ds-builder-network
    volumes:
      - docs_output:/home/node/app/output
    command: npm run start:dev

volumes:
  postgres_data:
    driver: local
  docs_output:
    driver: local

networks:
  ds-builder-network:
    driver: bridge
