{
    "extends": ["@salutejs/eslint-config"],
    "rules": {
        "camelcase": "warn",
        "no-irregular-whitespace": "warn",
        "no-use-before-define": "off",
        "padding-line-between-statements": "off",
        "space-before-function-paren": [
            "warn",
            {
                "anonymous": "never",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "react/jsx-wrap-multilines": "off",
        "react/jsx-closing-tag-location": "off",
        "react/jsx-no-leaked-render": "off",
        "react/display-name": "off",
        "react/require-default-props": "off",
        "react/no-unused-prop-types": "off",
        "react-hooks/exhaustive-deps": "error",
        "@typescript-eslint/no-unnecessary-type-constraint": "warn",
        "@typescript-eslint/ban-types": [
            "warn",
            {
                "extendDefaults": true,
                "types": {
                    "{}": false,
                    "object": false
                }
            }
        ],
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/ban-ts-comment": "warn"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "ignorePatterns": ["node_modules"]
}
